.App {
  text-align: center;
  border: 2px solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
   

.homepage{
 background-image: url("recruitment1.png");
 height: 100vh;
 background-size:cover;
 background-position: center;
 background-repeat: no-repeat;
 

}
.candidateformclearbutton{
  left: 50px;
}
.candidateformsubmitbutton{
  right:50px;
}

.mandatory{
  color: red;
  font-size: larger;
}
.down{
  position: absolute;
  top:30px;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
}
.interview{
    position: relative;
}
.InterviewButton{
    position: absolute;
    
    top: 30px;
}
.buttons{
  position: relative;
}
.interviewclear{
  position:absolute;
  left:100px;
  top:50px;
}
.interviewsubmit{
  position:absolute;
  left:300px;
  top:50px;

}
.candidateList{
  position:absolute;
  top:100px;
}
.buttonInInterviewForm{
  top:20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
