.addProject{
    justify-content: right;
    float: right;
    
}
.button{
    justify-content: flex-end;
    float:right;
    border-radius: 50%;
    }
.mainCandidate
{
    display: flex;
}    
.mainButton{
    align-items: flex-end;
}
